<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>172.20.10.3</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>連接 ESP32 攝影機裝置以提供即時影像串流。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要使用目前位置以提供即時定位與附近醫院搜尋功能。</string>
</dict>
</plist>
